<!DOCTYPE html>

<html>

<head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/index.js"></script>
</head>

<body>
    <p>number : <%= number %></p>
    <p>pwd : <%= pwd %></p>
</body>

</html>